extends layout 

block content
    h1 Post your Story
    if (user)
        form(action='/stories/create' method='POST' class="create-story-form")
            label(for='title') Title
            input(name='title' placeholder='Enter your Title here...' type='text' id='title' required=true )
            label(for='content') Story
            textarea(name="content", cols="30", rows="10" id='content' placeholder="Enter your story here..." )
            button Post
        if (errors)
            div(class='error-container')
                h2 Error: 
                ul 
                    each error in errors 
                        li= error.msg
    else 
        p Please log in (or sign up) to post a Story.

        a(href="/users/login") Log In
        a(href="/users/signup") Sign Up 

        
