extends layout 

block content
    if (user)
        if (story)
            h1 Delete Story: #{story.title}
            p Are you sure you delete this story?

            form(method='post' action='/stories/delete/' + story._id)
                button(type="submit") Delete 
            if (errors)
                div(class='error-container')
                    h2 Error: 
                    ul 
                        each error in errors 
                            li= error.msg 
        else 
            p Error: Story not found.
    else
        p Only registered users can delete stories.
        a(href='/users/login') Log In 
        a(href='/users/signup') Sign Up

        
