doctype html
head
  meta(charset='UTF-8')
  title
h1 Sign Up
form(action='' method='POST' class="signup-form")
  label(for='username') Username
  input(name='username' placeholder='username' type='text' required=true)
  label(for='password') Password
  input(name='password' type='password' required=true)
  label(for='confirm-password') Password
  input(name='confirm-password' type='password' required=true)
  button Sign Up
if (errors)
    div(class='error-container')
        h2 Error: 
        ul 
            each error in errors 
                li= error.msg
