@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

:root {
  --content-background-color: rgb(30, 30, 30);
  --header-background-color: rgb(18, 18, 18);
  --footer-background-color: var(--header-background-color);
  --main-font-color: rgb(228, 228, 228);
  --main-font-color-hover: rgb(185, 185, 185);
  --header-height: 54px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--main-font-color);
  background-color: var(--content-background-color);
  font-family: "Titillium Web", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: var(--header-height);
  flex: 1;
  padding-bottom: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
  height: var(--header-height);
  background-color: var(--footer-background-color);
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: flex-end;
  position: fixed;
  bottom: 0px;
}

.user-link-container {
  display: flex;
  align-items: center;
  gap: 16px;
  height: var(--header-height);
}

.user-link-container .left {
  display: flex;
  align-items: center;
  gap: 2px;
}

.user-link-container form {
  height: 100%;
}

.user-link-container i {
  color: rgb(61, 113, 255);
  font-size: 1rem;
}

header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  position: fixed;
}

.logo-container a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--main-font-color);
  height: var(--header-height);
  padding-left: 8px;
  padding-right: 8px;
}

.logo-container a:hover {
  color: var(--main-font-color-hover);
  background-color: rgba(0, 0, 0, 0.623);
}

.header-links-container {
  display: flex;
  height: var(--header-height);
}

.header-links-container form button,
.user-link-container form button {
  height: 100%;
  width: 120px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--main-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.header-links-container form button i {
  font-size: 1rem;
}

.header-links-container form button .blue {
  color: rgb(61, 113, 255);
}

.main-page-title-container form button {
}

.stories-youve-written {
  padding: 16px;
}

.main-page-title-container form button:hover {
}

.header-links-container form button .green,
.main-page-title-container form button .green {
  color: rgb(89, 214, 110);
}

.main-page-title-container h1 .blue {
  color: rgb(61, 113, 255);
}

.header-links-container form button:hover,
.user-link-container form button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.349);
  color: var(--main-font-color-hover);
}

.avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.avatar-large {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.avatar-small {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.main-page-container {
  width: clamp(350px, 80%, 900px);
}

.main-page-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 8px;
}

.story-text-container.story-content {
  width: 100%;
}

ul.story-list {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  padding-bottom: 64px;
}

.admin-text {
  color: rgb(240, 51, 51);
}

ul.story-list li {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--header-background-color);
  padding: 16px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.301);
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  background-color: rgb(116, 116, 116);
  border-radius: 50%;
}

.story-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.story-username-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.story-username-container i {
  font-size: 1.1rem;
  position: relative;
  top: 1px;
}

.story-title-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
}

.story-text-container {
  background-color: var(--content-background-color);
  border-radius: 10px;
  padding: 16px;
}

.story-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-delete-container form button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 5px;
}

.story-delete-container form button:hover {
  cursor: pointer;
  color: var(--main-font-color-hover);
  background-color: rgba(0, 0, 0, 0.568);
}

.story-delete-container form button i {
  color: var(--main-font-color);
}

.story-delete-container form button i:hover {
  color: var(--main-font-color-hover);
}

.generic-button {
  width: 250px;
  height: 48px;
  border: none;
  background-color: var(--header-background-color);
  color: var(--main-font-color);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.301);
  transition: 0.15s transform;
}

.generic-button.light {
  background-color: rgb(34, 41, 49);
}

.generic-button:hover {
  cursor: pointer;
  transform: scale(1.08);
  background-color: rgba(255, 255, 255, 0.06);
}

.generic-button.light:hover {
  background-color: rgb(45, 56, 68);
}

.generic-button .blue,
.material-icons.blue {
  color: rgb(61, 113, 255);
}

.material-icons.yellow {
  color: rgb(255, 188, 64);
}

.login-page-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 32px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--header-background-color);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.301);
}

.form-element-container {
  display: flex;
  flex-direction: column;
}

label {
  padding-left: 8px;
  padding-bottom: 4px;
}

input,
textarea {
  background-color: var(--content-background-color);
  border-radius: 10px;
  padding: 16px;
  color: var(--main-font-color);
  border: none;
}

input:focus-visible {
  outline-color: gray;
}

.generic-button .green {
  color: rgb(89, 214, 110);
}

/*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*/
/*                  MOBILE LAYOUT                  */
/*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*^`^-*/

@media only screen and (max-width: 460px) {
  .logo-container a {
    font-size: 0.8rem;
  }

  .logo-container a i {
    font-size: 0.8rem;
  }
}
